<div class="card flex flex-wrap justify-center items-end gap-4">

    <div class="field">
        <label for="name" req>Name</label>
        <input pInputText type="text" id="name" name="name" [(ngModel)]="donor.name" required autofocus />
        <small class="p-error" *ngIf="submitted && !donor.name">
            Name is required.
        </small>
    </div>

    <div class="field">
        <label for="email">Email</label>
        <input pInputText type="email" id="email" [(ngModel)]="donor.email" />
        <small class="p-error" *ngIf="submitted && !donor.email">
            Email is required.
        </small>
    </div>
    <!-- <div class="field">
        <p-checkbox name="showMe" [(ngModel)]="donor.showMe" label="Show Me"></p-checkbox>
    </div> -->

    <div class="field flex justify-content-between">
        <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveDonor()" />
    </div>

</div>