<!-- <ng-template pTemplate="content"> -->
    
<img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.imageUrl" [alt]="product.imageUrl"
    class="block m-auto pb-3" *ngIf="product.imageUrl" />
<div class="field">
    <label for="name" req>Name</label>
    <input pInputText type="text" id="name" name="name" [(ngModel)]="product.giftName" required autofocus />

    <small class="p-error" *ngIf="submitted && !product.giftName">
        Name is required.
    </small>
</div>
<div class="field">
    <label for="donor" req>Donor</label>
    <input type="text" pInputText id="donor" name="donor" [(ngModel)]="product.donor" required autofocus />

    <small class="p-error" *ngIf="submitted && !product.donor">
        Donor is required.
    </small>
</div>
<div class="field">
<div class="formgrid grid">
    <div class="field col">
        <label for="price">Price</label>
        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US" />
    </div>
    <small class="p-error" *ngIf="submitted && !product.price">
        Price is required.
    </small>
</div>
<!-- </ng-template> -->

<!-- <ng-template pTemplate="footer"> -->
<p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
<p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveProduct()" />
<!-- </ng-template> -->