<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2" *ngIf="userRole==='ADMIN'">
        <ng-template pTemplate="left">
            <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
            <p-button label="Download Winners Report" icon="pi pi-download" class="mr-2" (onClick)="exportWinnersToExcel()" />
            <p-button label="Download Incomes Report" icon="pi pi-download" class="mr-2" (onClick)="exportIncomesToExcel()" />
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="filterGifts()" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'category', 'price']"
        [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h3 class="m-0">Manage Products</h3>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">
                    Id <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="giftName">
                    Name <p-sortIcon field="giftName" />
                </th>
                <th pSortableColumn="categoryName">
                    Category <p-sortIcon field="categoryName" />
                </th>
                <th style="min-width:5rem">
                    Image
                </th>
                <th pSortableColumn="price">
                    Price <p-sortIcon field="price" />
                </th>
                <th>
                    Donor
                </th>
                <th *ngIf="userRole==='ADMIN'" pSortableColumn="numOfTickets">
                    Tickets<p-sortIcon field="numOfTickets" />
                </th>

                <th></th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="giftNameFilter" placeholder="Gift Name" style="width: 180px;" />
                    </span>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="donorFilter" placeholder="donor" style="width: 150px;" />
                    </span>
                </th>
                <th *ngIf="userRole==='ADMIN'">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="number" [(ngModel)]="BuyersCountFilter" placeholder="num of tickets" style="width: 165px;" />

                    </span>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    {{product.id}}
                </td>
                <td>
                    {{ product.giftName }}
                </td>
                <td>
                    {{ product.categoryName}}
                </td>
                <td>
                    <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.imageUrl"
                        [alt]="product.giftName" width="50" class="shadow-4" />
                </td>
                <td>
                    {{ product.price | currency : 'ILS' }}
                </td>
                <td *ngIf="product.donor.showMe">
                    {{product.donor.name}}
                </td>
                <td *ngIf="!product.donor.showMe">
                    Anonymous
                </td>
                <td *ngIf="userRole==='ADMIN'">
                    <p-button label="{{numOfTickets(product)}}" severity="help" (click)="showTickets(product)"
                        [outlined]="true" />
                </td>

                <td *ngIf="!product.winner && userRole==='ADMIN'">
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                        (onClick)="editProduct(product)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                        (onClick)="deleteProduct(product)" />
                    <p-button label="raffle" severity="warning" [rounded]="true" [outlined]="true"
                        (onClick)="raffle(product)" />
                </td>
                <td *ngIf="!product.winner && userRole==='USER'">
                    <p-button label="add to cart" severity="warning" [rounded]="true" [outlined]="true"
                        (onClick)="addToCart(product)" />
                </td>
                <td *ngIf="product.winner">
                    <p-button label="show winner" severity="success" [rounded]="true" [outlined]="true"
                        (onClick)="showWinner(product)" />
                </td>
                <td *ngIf="!product.winner && userRole === null">
                    <p-button label="to buy login" severity="warning" [rounded]="true" [outlined]="true"
                    onclick="window.location.href='/login'" />
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true"
        styleClass="p-fluid">
        <app-gift-details [product]="this.product" (onSaveGift)="saveProduct(product)"
            (hide)="hideDialog()"></app-gift-details>
    </p-dialog>
    <p-dialog [(visible)]="showGiftTickets" [style]="{ width: '90%' }" header={{this.product.giftName}} [modal]="true"
        styleClass="p-fluid">
        <app-gift-tickets [tickets]="this.product.tickets"></app-gift-tickets>
    </p-dialog>
    <p-dialog [(visible)]="showWinnerDetails" [style]="{ width: '450px' }" header={{this.product.giftName}}
        [modal]="true" styleClass="p-fluid">
        <app-gift-winner-details [winner]="this.product.winner"></app-gift-winner-details>
    </p-dialog>
    <p-confirmDialog [style]="{ width: '450px' }" />
</div>