<div class="card">
    <p-confirmDialog></p-confirmDialog>
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="mr-2 inline-block" />
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="filterDonors()" [rows]="10" [paginator]="true" [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedDonors" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Donors</h5>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="nameFilter" placeholder="Name" />
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="emailFilter" placeholder="Email" />
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="giftNameFilter" placeholder="Gift Name" />

                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr [ngClass]="rowClass(donor)">
                <th pSortableColumn="id" style="min-width:15rem">
                    Id <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="name" style="min-width:15rem">
                    Name <p-sortIcon field="name" />
                </th>
                <th>Email</th>
                <th>My Gifts</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donor>
            <tr>
                <td>
                    {{donor.id}}
                </td>
                <td>
                    {{ donor.name }}
                </td>
                <td>{{donor.email}}</td>
                <td><p-button label="show" severity="warning" (click)="showGifts(donor)" />
                    <!-- <p-tag severity="warning" (click)="showGifts()">
                        Show
                    </p-tag>  -->
                </td>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                        (onClick)="editDonor(donor)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                        (onClick)="deleteDonor(donor)" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ donors ? donors.length : 0 }} donors.
            </div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="donorDialog" [style]="{ width: '450px' }" header="donor Details" [modal]="true"
        styleClass="p-fluid">
        <app-donor-detales [donor]="this.donor" (onSaveDonor)="saveDonor($event)"
            (hide)="hideDialog()"></app-donor-detales>
    </p-dialog>

    <p-dialog [(visible)]="showMyGifts" [style]="{ width: '90%' }" header={{this.donor.name}} [modal]="true"
        styleClass="p-fluid">
        <app-donor-gift-list [products]="this.donor.gifts || []"></app-donor-gift-list>
    </p-dialog>
</div>