<div class="card">
    <p-table [value]="products" 
        [tableStyle]="{ 'min-width': '90%' }" [rowHover]="true" dataKey="id">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="min-width:15rem">
                    Id <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="giftName" style="min-width:15rem">
                    Name <p-sortIcon field="giftName" />
                </th>
                <th>
                    Image
                </th>
                <th pSortableColumn="price">
                    Price <p-sortIcon field="price" />
                </th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    {{product.id}}
                </td>
                <td>
                    {{ product.giftName }}
                </td>
                <td>
                    <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.imageUrl"
                        [alt]="product.giftName" width="50" class="shadow-4" />
                </td>
                <td>
                    {{ product.price | currency : 'USD' }}
                </td>
            </tr>
        </ng-template>
    </p-table>


    <p-confirmDialog [style]="{ width: '450px' }" />
</div>
